
/* sidenavbar */
.sidenav {
	height: 100%; 
	width: 0; /* changed via javascript */
	position: fixed; 
	z-index: 4;
	top: 0; 
	/* left: var(--navbar-width); */
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
  }

  .sidenav, .arrow, #close-sidenav{
	transition: 0.5s;
  }

  .sidenav.light-theme {
    /* background-color: rgba(238, 238, 238, 0.95); */
	background-image: linear-gradient(to bottom right, rgb(201, 201, 201), rgb(255, 255, 255));
  }
  
  /* The navigation menu links */
  .sidenav a {
    /* text-align: center; */
	padding: 8px 8px 8px 42px;
	text-decoration: none;
	font-size: 25px;
	color: #bebebe;
	display: block;
	transition: 0.3s;
    /* text-underline-offset: 1.5px; */
  }
  .sidenav a.light-theme {
    color: #181818;
  }
  .sidenav a:hover {
	color: #ffffff;
    text-shadow: 1px 1px rgb(119, 119, 119);
  }

  #main {
  transition: margin-left .5s;
  }
  
/* Button to close sidenav */
.arrow {
	transform: translate(4px, 4px);
	width: 1.25rem;
	height: .25rem;
	display: inline-block;
	position: relative;
  }

  .arrow.active {
	transform: translate(-8px, 1.5px);
  }

  .arrow span {
	top: 0.5rem;
	position: absolute;
	width: 3em;
	height: 0.12em;
	border-radius: 1px;
	/* background-color: #efefefd5; */
	background-image: linear-gradient(#efefefd5, #efefefd5);
	display: inline-block;
	transition: all 0.2s ease;
  }
  .arrow span:first-child {
	top: -9px;
	transform: rotate(40deg);
  }
  .arrow span:last-child {
	bottom: 9px;
	transform: rotate(-40deg);
  }
  .arrow span:first-child.active {
	top: -5px;
	transform: rotate(-31deg);
  }
  .arrow span:last-child.active {
	bottom: 5px;
	transform: rotate(31deg);
  }


  #close-sidenav {
	cursor: pointer; 
	border-radius: 50%;
	background-image: linear-gradient(rgb(49, 49, 49), rgb(26, 26, 26));
	/* background-color: rgb(110, 110, 110); */
	position: fixed;
	left: 0;
	top:44%;
	z-index: 6;

	margin-left:-5em;
	background:#111;
	width:2em;
	height:2em;
	padding:2.5em;
	font-size:0.5em;
	display:block;
	box-shadow:0px 0px 5px 0px #333;
  }

  #close-sidenav:hover {
	box-shadow:0px 0px 5px 0px rgb(187, 187, 187);
  }
