/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

* {
    --fadein-delay: 3s;
}

#bgvid {
    animation: fadeIn 3s;
}

#header{
    animation: fadeIn 3s;
    animation-delay: var(--fadein-delay);
}
    #header .delay {
        animation: fadeIn 3s;
        animation-delay: 2*var(--fadein-delay);
    }

#footer {
    animation: fadeIn 3s;
    animation-delay: 3 * var(--fadein-delay);
} */

