@import "content/text.css";

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Links */
a {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  border-bottom: solid 2px rgb(135, 207, 255);
  color: rgb(135, 207, 255);
  text-decoration: none;
}
a:hover {
  border-bottom: double 2px rgb(255, 255, 255);
  color: #ffffff;
  text-decoration: none; 
}
