@import "text.css";

/* Links */
a {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  border-bottom: solid 2px rgb(135, 207, 255);
  color: rgb(135, 207, 255);
  text-decoration: none;
}
a:hover {
  border-bottom: double 2px rgb(255, 255, 255);
  color: #ffffff;
  text-decoration: none; 
}

#header {
  position: absolute;
  top: 25vh;
  left: 5%;
  font-weight: bolder;
  text-shadow: 2px 2px #000000;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  overflow: hidden;
}
  #header p {
    font-size:large;
  }

#footer {
  opacity: 0.25;
  color: rgba(255, 255, 255, 0.5);
  bottom: 4%;
  left: 5%;
  position: absolute; 
}
  #footer .copyright {
      font-size: 0.8em;
      font-weight:normal;
      list-style: none;
      padding: 0; 
  }
  #footer:hover {
    opacity: .95; 
  }
  #footer a {
    font-size: small;
    border-bottom: none;
  }

  #footer ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0;
  }


#credits {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  width: 60%;
  background-color: #254153c9;
  border: 3px solid #89d0ff;
  padding: 10px;
  border-radius: 1em;
}
#close-credits {
  color: rgba(255, 174, 0, 0.75);
  border-bottom: solid 2px rgba(255, 174, 0, 0.75);
}
#close-credits:hover {
  color: rgb(255, 174, 0);
  border-bottom: solid 2px rgb(255, 174, 0);
}
