.wrap{
  width:90%;
  margin:0.25em auto;
}

.collapse {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    color: #fff;
    padding: 10px;
    margin:0px;
    max-height:40px;
    overflow:hidden;
    transition: all 0.4s;
  }

  .collapse.light-theme {
    color: #fff;
  }

  .collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .collapse.active {
    background-image: linear-gradient(rgba(32, 32, 32, 0.9), rgba(26, 26, 26, 0.9));
    /* background-color: rgba(26, 26, 26, 0.9); */
    /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); */
    z-index: 200;
    color:whitesmoke;
    max-height:3000px;
    padding:10px 20px;
    margin: 10px -10px;
    transition: all 0.2s,max-height 4.8s;
    border-radius: .25em;
  }

  .collapse.active.light-theme {
    background-image: linear-gradient(rgba(243, 243, 243, 0.9),rgba(228, 228, 228, 0.9));
    /* background-color: rgba(255, 255, 255, 0.9); */
    color:rgb(22, 22, 22);
  }

  .collapse h2 {
    font-size: 18px;
    line-height: 20px;
    position:relative;
    cursor: pointer;
  }

  .slide{
    /* box-shadow:none !important; */
    margin:0px !important;
    padding:10px !important
  }

  .transparent{
    background-color: rgba(255,255,255,0) !important;
    color:#fff !important;
    /* box-shadow:none !important; */
    margin:0px !important;
    padding:10px !important
  }

  .collapse h2::after{
    content: "+";
    text-align:center;
    position:absolute;
    width:15px;
    height:15px;
    /* border:1px solid #ccc;
    border-radius:50%; */
    font-size:12px;
    line-height:15px;
    opacity:0.5;
    right:0;
    top:2px;
  }

  .collapse:hover h2::after{
    opacity:1
  }
  
  .collapse.active h2::after{
    content: "-";
    top:1.5px;
  }
