body {
    color:whitesmoke;
    /* font-family: 'Suez One', serif; */
    /* font-family: 'Kadwa', serif; */
    font-family: 'Cardo', serif;
}

.light-theme {
    color: black;
}

pre {
    font-family: 'Cardo', serif;
}

.tab {
    tab-size: 2;
}

