.bgvid {
  position: absolute;
  left: -10%;
  bottom: 0;
  width: 120%;
  height: 120%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; 
}

* {
    cursor: pointer;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
    .bgvid {
        left: -20%;
        width: 140%;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1440px) {
    .bgvid {
        left: -40%;
        width: 180%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .bgvid {
        left: -65%;
        width: 230%;
    }
}

@media screen and (min-width: 420px) and (max-width: 720px) {
    .bgvid {
        transform: rotate(90deg);
        left:-50%;
        top: 0;
        width: 200%;
        height: 100%;
    }
}

@media screen and (max-width: 420px) {
    .bgvid {
        transform: rotate(90deg);
        left:-100%;
        top: 0;
        width: 300%;
        height: 100%;
    }
}