@import "scrollbar.css";

:root {
  --parallax-speed: 9;
  --parallax-translate: -8px;
  --background-color:rgba(24, 24, 24, 0.9);
  --background-color-light: rgba(231, 231, 231, 0.9);
}

body {
    /* The image used */
    /* background-image: url("../../img/bg1.jpg"); */

    /* Center and scale the image nicely */
    /* background-position-y: -5em;
    background-size: 100vw 142vh;
    background-repeat: no-repeat; */

    /* Gradient */
    background-color: black;
     /* rgb(16, 24, 31); */
    background-blend-mode: soft-light;
  
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  
    /* Full height */
    /* height: 100%;
    position: fixed; */
}

/* img.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    object-fit: cover;
} */

.parallax {
    height: 100vh;
    /* height: calc(100vh - var(--navbar-height)); */
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* add some padding to force scrollbars */
    padding: 100vh 0;
    z-index: 0;
  }

  .parallax__layer--top {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
  }
  .parallax__layer--top .title {
    padding: 1em;
    border-radius: 1em;
    background-color: var(--background-color);
  }

  .parallax__layer--top .title.light-theme {
    background-color: var(--background-color-light);
  }

  .parallax__layer--back {
    left: 10%;
    -webkit-transform: translateZ(var(--parallax-translate)) scale(var(--parallax-speed));
    transform: translateZ(var(--parallax-translate)) scale(var(--parallax-speed));
    z-index: -1;
  }

body {
  margin:0;
  padding:0;
}

/* centre the content in the parallax layers */
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}